<div class="row card-deck">
  <div class="col-lg-6 col-md-6 mb-4" *ngFor="let order of productOrders">
    <div class="card text-center">
      <div class="card-header">
        <h4>{{order.product.name}}</h4>
      </div>
      <div class="card-body">
        <a href="#"><img class="card-img-top" src={{order.product.pictureUrl}} alt=""></a>
        <h5 class="card-title">
          ${{order.product.price}}
        </h5>
        <div *ngIf="!isProductSelected(order.product)">
          <select  class="form-control" id="sel {{order.product.id}}">
            <option (click)="this.unsetProductSize(order)" selected>Select size...</option>
            <option  (click)="this.setProductSize(order, size.id, size.size, size.stock)" *ngFor="let size of order.product.productSize">{{size.size}}</option>
          </select>
          <div *ngIf="order.size"><hr> <p class="stock">Items available: {{order.size.stock}}</p></div>
        </div>
        <div class="row justify-content-center">
          <div class="col-4 padding-0" *ngIf="!isProductSelected(order.product) && order.size">
            <input type="number" min="0"  max="{{order.size.stock}}" class="form-control" [(ngModel)]=order.quantity>
          </div>
          <div class="col-6 padding-0" *ngIf="!isProductSelected(order.product) && order.size">
            <button class="btn btn-success" (click)="addToCart(order)"
                    [disabled]="order.quantity <= 0 || order.quantity > order.size.stock" >Add To Cart
            </button>
          </div>
          <div class="col-12" *ngIf="isProductSelected(order.product)">
            <button class="btn btn-outline-danger btn-block"
                    (click)="removeFromCart(order)">Remove From Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


