<h1 class="text-center">ORDER DETAILS</h1>
<br>

<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Product name</th>
    <th scope="col">Size</th>
    <th scope="col">Price</th>
    <th scope="col">Quantity</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders.productOrders">
    <td>{{order.product.name}}</td>
    <td>{{order.size.size}}</td>
    <td>${{order.product.price}}</td>
    <td>{{order.quantity}}</td>
  </tr>
  </tbody>
</table>
<br *ngIf="!paid">
<h2>Customer information</h2>
<hr>
<form [formGroup]="userForm" novalidate>
  <div formGroupName="user">
    <div class="form-group">
      <label for="inputName">Full name</label>
      <input formControlName="name" type="text" class="form-control" id="inputName" placeholder="Emil Ivanov">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail">Email</label>
        <input formControlName="email" type="text" class="form-control" id="inputEmail">
      </div>
      <div class="form-group col-md-6">
        <label for="inputTelephone">Telephone</label>
        <input formControlName="telephone" type="text" class="form-control" id="inputTelephone">
      </div>
    </div>
  </div>
</form>
<h2>Shipping address</h2>
<hr>
<form [formGroup]="addressForm" novalidate>
  <div formGroupName="address">
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input formControlName="street" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input formControlName="city" type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputCountry">Country</label>
        <select formControlName="country" id="inputCountry" class="form-control">
          <option selected="selected">Choose...</option>
          <option>United Kingdom</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Post code</label>
        <input formControlName="postCode" type="text" class="form-control" id="inputZip">
      </div>
    </div>
  </div>
</form>
<h2>Delivery information</h2>
<hr>
<select [(ngModel)]="selectedDelivery" (ngModelChange)="setDelivery()" class="form-control">
  <option [ngValue]="null" selected="selected">Select delivery...</option>
  <option [ngValue]="delivery" *ngFor="let delivery of delivery">
    {{delivery.name}} - <strong>${{delivery.price}}</strong>
  </option>
</select>
<br *ngIf="checkDeliverySet() && !paid">
<div class="alert alert-info" role="alert" *ngIf="checkDeliverySet() && !paid">
  <strong>Delivery information:</strong> Your order will arrive in <strong> {{orders.delivery.days}} day(s) </strong>
</div>
<br>

<button class="btn btn-primary btn-block" (click)="pay()" *ngIf="!paid && checkDeliverySet()">Pay</button>
<div class="alert alert-success" role="alert" *ngIf="paid">
  <strong>Congratulation!</strong> You successfully made the order.
  <strong>Delivery information:</strong> Your order will arrive in {{orders.delivery.days}} day(s)
</div>
<hr>
<h2>Total amount <span class="badge badge-secondary">${{ total | number: 0}}</span></h2>
