.row-top-margin {
  margin-top: 50px;
}

.navbar {
  background-color: #161616 !important;
  color: #f0f3f6;
}

.pagination /deep/ .ngx-pagination .current {
  background: #161616;
}

.no-margin{
  margin: 0;
}

.image-mens{
  background-image: url("https://eivanovue.com/shoes/images/mens/image-mens.jpg");
}
