
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="container">
        <div class="row no-margin justify-content-center">
          <div class="col-3 col-md col-sm-auto">
            <h5><i class="material-icons">
              local_shipping
            </i> SHIPPING</h5>
            <ul class="list-unstyled text-small">
              <li>There are various delivery options ranging from Standard (5 days), Fast (2 days) and Express (1 day) available at checkout.</li>
            </ul>
          </div>
          <div class="col-3 col-md col-sm-auto">
            <h5><i class="material-icons">
              phone
            </i> CONTACT US</h5>
            <ul class="list-unstyled text-small">
              <li>Head over to our support page where you learn about various ways to get in touch with us such as Live Chat, Email or Telephone. You can also check out our frequently asked questions section.</li>
              <button class="btn btn-link">Learn more</button>
            </ul>
          </div>
          <div class="col-3 col-md col-sm-auto">
            <h5><i class="material-icons">
              card_giftcard
            </i> GIFT WRAPPING</h5>
            <ul class="list-unstyled text-small">
              <li>Want to make a loved one happy? Our professional gift-wrappers will be on the case. Once in checkout, select the 'Gift wrap' option.</li>
              <button class="btn btn-link">Learn more</button>
            </ul>
          </div>
          <div class="col-3 col-md col-sm-auto" style="width:100%;">
            <h5><i class="material-icons">
              payment
            </i> ORDERS & RETURNS</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/orders">Check order status</a></li>
              <li><a class="text-muted" href="/returns">Create return request</a></li>
              <li><a class="text-muted" href="/returns">Check status of return</a></li>
            </ul>
          </div>
        </div>
        <div class="row no-margin justify-content-center">
          <img class="social" src="https://eivanovue.com/shoes/social/facebook.png" width="50" height="50"/>
          <img class="social" src="https://eivanovue.com/shoes/social/instagram-logo.png" width="50" height="50"/>
          <img class="social" src="https://eivanovue.com/shoes/social/twitter.png" width="50" height="50"/>
        </div>
      </div>

    </footer>
