<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Live Chat</h1>
      <br>
      <app-chat></app-chat>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Telephone</h1>
      <ul class="list-unstyled mt-3 mb-4 text-left">
        <li>For more information call one of the following (9-5, Monday to Friday) telephones provided.</li>
      </ul>
      <ul class="list-unstyled mt-3 mb-4 text-left">
        <li><strong>Products:</strong> 07927832900</li>
        <li><strong>Sales:</strong> 07924836900</li>
        <li><strong>Others:</strong> 07924234900</li>
      </ul>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Email</h1>
      <ul class="list-unstyled mt-3 mb-4 text-left">
        <li>For more information do not hesitate to contact us via our provided emails.</li>
      </ul>
      <ul class="list-unstyled mt-3 mb-4 text-left">
        <li><strong>Products:</strong> products@goldenshoe.com</li>
        <li><strong>Sales:</strong> sales@goldenshoe.com</li>
        <li><strong>Others:</strong> others@goldenshoe.com</li>
      </ul>
    </div>
  </div>
</div>

<h2>Frequently asked questions</h2>
